/* fonts */
body {
  font-family: 'Poppins', sans-serif;

  font-family: 'Roboto', sans-serif;
}

/**  DEBUG  **/

.debug-0 {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
}

.debug-1 {
  background-color: rgba(255, 0, 0, 0.35);
  border: 1px solid red;
}

.debug-2 {
  background-color: rgba(0, 255, 0, 0.35);
  border: 1px solid greenyellow;
}

.debug-3 {
  background-color: rgba(0, 0, 255, .35);
  border: 1px solid blue;
}

/* ! TUTTO DI DEBUG DA CANCELLARE*/
[class^=col] {
  min-height: 500px;
}

.row_header {
  height: 200px;
}