/* fonts */
aside {
  font-family: 'Poppins', sans-serif;
}

.main_wrapper {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 400;
}

tbody tr th {
  font-weight: 400;
}

tbody tr th,
tbody tr td {
  font-size: .9rem;

}

/**  DEBUG  **/

.debug-0 {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid white;
}

.debug-1 {
  background-color: rgba(255, 0, 0, 0.35);
  border: 1px solid red;
}

.debug-2 {
  background-color: rgba(0, 255, 0, 0.35);
  border: 1px solid greenyellow;
}

.debug-3 {
  background-color: rgba(0, 0, 255, .35);
  border: 1px solid blue;
}

/* ! TUTTO DI DEBUG DA CANCELLARE*/