/*  ! HEADER  */

header {
  height: 75px;
  background-color: #868686;
}


/*  ! MAIN  */
main {
  height: calc(100vh - 75px);
  /*height header*/
  overflow: auto;

  /* * debug */
  background-color: rgb(10, 10, 10);
}

.main-wrapper {
  width: calc(100% - 160px);
  /*width aside*/
}

/*  ! ASIDE  */
.aside {
  width: 160px;
  color: #fff;
  background-color: #051E34;
  background-image: url('../img/sidebar-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/*  ! MAIN - WRAPPER  */

/* todo fake header */

.row_header {
  color: #fff;
  background-color: #067df5;
}

.text-bg-primary_custom {
  background-color: #155CBA !important;
}

/* todo main contenent */

/* * Prossime classi*/
i.fa-solid.fa-code {
  color: #fff;
  background-color: #F26551;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-right: 2px;
}

/* * Faq */