/*  ! HEADER  */

header {
  height: 90px;
  background-color: #868686;
}


/*  ! MAIN  */
main {
  height: calc(100vh - 90px);
  /* * debug */
  background-color: rgb(219, 110, 8);
  overflow: auto;
}

.main-wrapper {
  height: calc(100vh - 90px);
  overflow: auto;
  width: 85%;
  /*width aside*/
}

/*  ! ASIDE  */
.aside {
  height: calc(100vh - 90px);
  width: 15%;
  color: #fff;
  background-color: #051E34;
  background-image: url('../img/sidebar-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* * navbar top da tablet in su */

.navbar-top,
.navbar-bottom {
  margin: 0 auto;
}

.navbar-top ul,
.navbar-bottom ul {
  padding: 0;
}

.navbar-top li,
.navbar-bottom li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-top a,
.navbar-bottom a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.navbar-top i,
.navbar-bottom i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.navbar-bottom li {
  margin-bottom: 0;
}


/*  ! MAIN - WRAPPER  */

/* todo fake header */

.row_header {
  color: #fff;
  background-color: #067df5;
}

.text-bg-primary_custom {
  background-color: #155CBA !important;
}

/* todo main contenent */

/* * Prossime classi*/
i.fa-solid.fa-code {
  color: #fff;
  background-color: #F26551;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  margin-right: 2px;
}

.btn_custom {
  color: #fff;
  font-size: .7rem;
  font-weight: 600;
  padding: 1px 5px;
}

/* * Faq */

/* Todo TODO */

/* * card */

.card_custom {
  width: 95%;
}

/* * card grafico */