/*  ! HEADER  */

header {
  height: 75px;
  background-color: #067df5;
}


/*  ! MAIN  */
main {
  height: calc(100vh - 75px);
  /*height header*/
  overflow: auto;

  /* * debug */
  background-color: rgb(33, 4, 59);
}



/*  ! ASIDE  */
.aside {
  width: 160px;
  color: #fff;
  background-color: #051E34;
  background-image: url('../img/sidebar-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/*  ! MAIN - WRAPPER  */
.main-wrapper {
  width: calc(100% - 160px);
  /*width aside*/
}